@font-face {
    font-family: moderniz;
    src: url(../public/fonts/Moderniz/Moderniz.woff2);
}

@font-face {
  font-family:Nohemi-Bold;
  src: url(../public/fonts/Nohemi/Nohemi-Bold.woff2);
}

@font-face {
  font-family:Nohemi-Medium;
  src: url(../public/fonts/Nohemi/Nohemi-Medium.woff2);
}

@font-face {
  font-family:Nohemi-SemiBold;
  src: url(../public/fonts/Nohemi/Nohemi-SemiBold.woff2);
}

@font-face {
  font-family:Nohemi-Regular;
  src: url(../public/fonts/Nohemi/Nohemi-Regular.woff2);
}


:root {
    --primary-color: #FF4D00;
    --secondary-color: #0e0e0e;
    --neutral-color: #E8E3DA;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: var(--neutral-color);
}